body {
	margin: 50px;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}

/* changed navbar to gray */
nav {
  background-color: gray;
  height: 100px;
  margin-top: -50px;
  position: fixed;
  width: 100%;
	padding-bottom: 10px;
}

section {
  margin: 0 auto;
  width: 60%;
}

/* a serif at a 3.25em */
h1 {
  font-family: serif;
  font-size: 3.25em;
	padding-top: 28px;
	line-height: 1;
	text-align: center;
}

/* h3 in example class has a padding-top of 30px and the text is center aligned*/
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/* h3 has a 1.3em font size */
h3 {
  font-size: 1.3em;
}

.element {
	padding-top: 15px;
  background-color: #d9d9d9;
	text-align: center;
  height: 100px;
  margin: 20px;
  width: 100%;
}

/* background change */
.orange {
  background-color: #FFA500;
}
